{% extends 'base-admin.html.twig' %}

{% block title %}{{'Edit User'|trans}} "{{ user.username }}"{% endblock %}

{% block body %}

    <h1>{{'Edit User'|trans}} "{{ user.username }}"</h1>

    {% if is_granted('ROLE_ADMIN') %}
        {{ include('user/_form.html.twig', {'button_label': 'Update'|trans}) }}
    {% endif %}




    {% block javascripts %}
        <script src="/assets/js/jquery-3.2.1.min.js"></script>
        <script src="/assets/js/popper.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/jquery.slimscroll.js"></script>
        <script src="/assets/js/Chart.bundle.js"></script>
        <script src="/assets/js/chart.js"></script>
        <script src="/assets/js/app.js"></script>
    {% endblock %}




{% endblock %}
